body {
/* Non-Heading Font */
  font-family: 'Open Sans', sans-serif;
  color: white;
/*     Top, Right, Bottom, Left  */
  margin: 10px 50px 10px 50px;
  background-color: black;
}

h1, h2 {
/* Headings Font */
  color: white;
  font-family: 'Oswald', sans-serif;
}

img {
  float: left;
  margin-right: 10px;
}

/* class */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: 300px;
  margin-right: 300px;
}

.icon {
  width: 300px;
}

/* id */
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
}

#nav a {
  margin-left: 75px;
  margin-right: 75px;
}